* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


nav {
    height: 35px;
    background: #000;
    font-size: small;

}

.menu {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
}

.menu ul li,
.menu ul li a {
    color: #fff;
    line-height: 44px;
    text-decoration: none;
}

.menu ul li .bx.bxl-apple {
    font-size: 25px;
}

.menu ul li a.menu-item {
    transform: scale(1);
    transition: 0.5s;
    display: block;
}

.menu ul li a.menu-item.hide-item {
    transform: scale(0);
}

.unicef {
    display: -webkit-box;
    width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    font-size: 12px;
    padding: 20px 0;
    background-color: #fbfbfd;
    height: 77px;
}

section h2 {
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;

}


#macbook {
    background: url(images/hero_macbookair__el7scava26mq_medium_2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    padding: 0 140px 0 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;

}

.mac1 {

    width: 339px;
    height: 43px;
}

.macicons {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: .022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#Iphone13 {
    background: url(images/hero_iphone13_avail__gnqqkzuai6um_medium_2x.jpg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: x-large;
    padding-left: 1vw;
    padding-top: 6vh;
    margin: 1.5vh;
    align-items: center;

}



.ip13,
h1 {
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 50px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
}

section h3 {
    font-size: 30px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: .002em;

}

#superpot {
    background: url(images/hero_bts__bcuslanw39xe_medium_2x.jpg);
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: x-large;
    padding-left: 1vw;
    padding-top: 6vh;
    margin: 1.5vh;
    align-items: center;

}

#superpot h1 {
    color: #ca2166;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    display: inline;

}

#superpot h2 {
    color: #030001;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    display: inline;

}

#superpot h3 {
    color: #030001;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 20px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
}

#Ipmac {
    background: url(images/promo_iphone13pro_avail__beadms4ldidu_medium_2x.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: x-large;
    padding-left: 1vw;
    padding-top: 6vh;
    margin: 1.5vh;
    align-items: center;

}

#Ipmac h1 {
    color: #150109;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    display: inline;

}

#Ipmac h2 {
    color: #030001;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    display: inline;

}

#Ipmac3 h3 {
    color: #030001;
    background-color: var(--background-color);
    padding-top: var(--global-nav-collective-height);
    height: calc(var(--content-height) + var(--global-nav-collective-height));
    font-size: 5px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
}